html
    head
        title ReSpot - Home
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/form.css')
        script(src="https://code.jquery.com/jquery-latest.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")
        script(src="javascripts/add.js")
        script(src="javascripts/login.js")
        script(src="javascripts/register.js")
        script(src="javascripts/gen.js")
        script(src="../javascripts/quizlet.js")
        link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')

    if user 
      body
          if error 
              h1 An Error has occured. 
              h2 #{error}
              
          else
          include ./navbar.jade
          div.container
            div.jumbotron
                h1 ReSpot
                h2 Hello, #{user.username}.
                p Welcome to ReSpot! We hope you'll love it.
                
            each val in user.decks
                div(class="col-md-6")
                  div(class="card card-block")
                    ul(class="list-group list-group-flush")
                      li(class="list-group-item")
                        h3(class="card-title") #{val.name}
                      li(class="list-group-item")
                        i #{val.description}
                      li(class="list-group-item")
                        a(href="/deck/"+val._id)
                          button(class="btn btn-primary" type='submit' id="deck-#{val._id}") Cards 
                            span(class="badge counter-#{val._id} card-num-counter") #{val.cards.length}
                        a(href="/study/"+val._id)
                            button(class="btn btn-primary" id="study-#{val._id}" type='submit' style="margin-left:3px;") Study 
                              span(class="badge counter-#{val._id} study-counter") #{user.srs[val._id].length}
                      li(class="list-group-item")
                        a(data-toggle="modal", data-target='#add-card-modal', class="btn btn-primary action-buttons", href="#", onClick="setValID('#{val._id}')") Add Cards
                        a(data-toggle="modal", data-target='#add-pearson-card-modal', class="btn btn-primary action-buttons", href="#", onClick="setValID('#{val._id}')") Add PEARSON Card
              
              div(class="col-md-6")
                div(class="card card-block")
                  h3(class="card-title")
                    li(class="list-group-item")
                      a(data-toggle="modal", data-target='#new-deck-modal' class="btn btn-primary action-buttons" href="#") + Create a New Deck
                      a(data-toggle="modal", data-target='#gen-deck-modal' class="btn btn-primary action-buttons" href="#") + Create a New PEARSON Deck
                      a(data-toggle="modal", data-target='#quizlet-deck-modal' class="btn btn-primary action-buttons" href="#") + Search Quizlet
                      
    else 
      body(class="full" style="display:flex; justify-content:center; align-items:center;")
          if error 
              h1 An Error has occured. 
              h2 #{error}
              
          else
          br
          div.container
             div.jumbotron(style="background:rgba(0,0,0,0); color:white;")
                h1 ReSpot
                h3 Go ahead and log in so we can send you on your way. 
                .row
                  .col-md-2.col-xs-6
                    a(data-toggle="modal", data-target="#login-modal" class="btn btn-primary action-buttons btn-block" href="#") Login
                  .col-md-2.col-xs-6
                    a(data-toggle="modal", data-target="#register-modal" class="btn btn-primary action-buttons btn-block" href="#") Register

            
    include ./deck/new.jade
    include ./deck/add.jade
    include ./deck/addPearson.jade
    include ./deck/quizlet.jade
    include ./deck/gen.jade
    include ./user/login.jade
    include ./user/register.jade
    