html
    head
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/timeline.css')
        //- script(src="http://momentjs.com/downloads/moment.js") don't think we need this client side...
    include ../navbar.jade
    body
      div.container
        ul.timeline
          if srs
            each value in srs
              if value.answer == "true"
                li
                  // -Time Line Element-
                  .timeline-badge.up
                    i.fa.fa-check
                  .timeline-panel
                    .timeline-heading
                      .timeline-title #{value.flashcard.front}
                    .timeline-body
                      p #{value.flashcard.back}
                      p Next Review (#{moment(value.timer).fromNow()})
              else
                li
                  // -Time Line Element-
                  .timeline-badge.down
                    i.fa.fa-minus-circle
                  .timeline-panel
                    .timeline-heading
                      .timeline-title #{value.flashcard.front}
                    .timeline-body
                      p #{value.flashcard.back}
                      p Next Review(#{moment(value.timer).fromNow()})
    script.
      var srs = !{JSON.stringify(srs)};